<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
 	<title>ユーザー登録画面</title>
	<link th:href="@{/css/signup.css}" rel="stylesheet">

</head>

<body>
	<header>
		<h1>
			<a th:href="@{/login}">Share Gym</a>
		</h1>
	</header>
	<h2>新規会員登録</h2>
	<!-- <div class="alert d-flex align-items-center" th:classappend="|${isError ? 'alert-danger' : 'alert-primary'}|" role="alert" th:if="${message != null}">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24">
			<use xlink:href="#exclamation-triangle-fill" th:if="${isError}" />
			<use xlink:href="#info-fill" th:unless="${isError}"/>
		</svg> -->
		<div class="errorMsg"  th:if="${message} != null">
			<span th:text="${message}"></span>
		</div>
	<!-- </div> -->

	<div class="main">
	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<p class="name">氏名（全角）</p>		
		<input type="text" id="type_name" th:field="*{userName}" placeholder="   名前を入力してください。"/>
		<span class="text-name" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
		<p class="email">メールアドレス</p>
		<input type="email" id="type_email" th:field="*{email}" placeholder="   例）taro.yamada@example.com"/>
		<span class="text-email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		<p class="password">パスワード </p>
		<input type="password" id="type_password" th:field="*{password}" placeholder="   パスワードを入力してください。"/>
		<span class="text-password" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br> 
		<input type="submit" id="sent" value="登録">
	</form>
	<a class="login" th:href="@{/login}">▼ログインはこちら</a>
	</div>


</body>
</html>